/* Importando font do google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap');

/* Cores e fonte */
:root{
  /*  font 
      variação de font em px: 78,
                              50,
                              35,
                              22,
                              18,
                              ;
  */
  --font: 'Montserrat', sans-serif;

  /* Cores */
  --cor-base: #fff;
  --cor-suporte-claro: #CCCCCC;
  --cor-suporte-escuro: #707070;
  --cor-destaque: #7FDBD4
}

/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
/**
 * Remove anchor text-decoration
 */ 
a {
	text-decoration: none;
}

/**
 * Remove list-style
 */ 
ol, ul {
	list-style: none;
}
h1, h2, h3, h4, h5, h6, p, a, ul {
	font-size: 1em;
	font-weight: normal;
}


/* Gerais */  
body{
  font-family: var(--font);
}
img{
  display: block;
  max-width: 100%;
}
.btn{
  align-self: center;
  border: none;
  padding: .5rem;
  color: var(--cor-suporte-claro);
  background: var(--cor-suporte-escuro);
  font-size: 1rem;
  font-weight: 600;
  max-width: 120px;
}

/* Header */
.header{
  padding: .25rem;
  background: var(--cor-base);
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}
.logo{
  max-width: 120px;
}
/* Estilizando, quando for fazer o menu mobile volto com display block */
nav{
  display: none;
}


/* introdução */
.intro{
  max-width: 100%;
  padding: 2rem;
  margin-top: 40.48px;
  background: url('img/intro-bg-mobile.jpg') no-repeat center;
  background-size: cover;
  height: calc(100vh - 40.48px) ;

  color: var(--cor-base);
}
.intro-content{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  justify-content: flex-end;
}
.intro h2{
  font-size: 3.125rem;
  font-weight: 800;
}
.intro a{
  font-size: 1.125rem;
  text-transform: uppercase;
  color: var(--cor-base);
}


/* produtos */
.produtos{
  padding: 3rem 1.5rem;
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
  max-width: 1340px;
  margin: 0 auto;
  place-content: center;
  place-items: center;
}
.produtos img{
  place-self: center;
}
/* Footer */
.footer{
  max-width: 100%;
  padding: 1rem;
}
.footer-content{
  max-width: 1340px;
  margin: 0 auto;
  word-break: break-word;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}
.redes-sociais{
  padding: .5rem;
  background: var(--cor-destaque);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  grid-column: 1 / -1;
}
.footer h3{
  font-weight: bold;
  font-size: .875rem;
  margin-bottom: .5rem;
}
.footer p{
  font-size: .75rem;
  color: var(--cor-suporte-escuro);
}

/* Versão desktop */
@media (min-width: 768.9px){
  /* Header */
  .nav{
    display: block;
  }
  .header{
    padding: 1rem 0;
  }
  .header > div{
    max-width: 1340px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }
  .header .menu{
    display: flex;
    gap: 1rem;
    padding: .5rem;
  }
  .header .menu li{
    width: 80px;
  }
  .header .menu a {
    padding: .5rem;
    color: var(--cor-suporte-escuro);
    transition: color 200ms ease-out;
    /* font-weight: 800; */
  }
  .header .menu a:hover{
    color: #000000;
    font-weight: 800;
  }

  /* Introdução */
  .intro{
    height: 780px;
    background: url('img/intro-bg.jpg') no-repeat center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .intro-content{
    max-width: 1340px;
    margin: 0 auto;
    justify-content: center;
    gap: 3rem;
  }
  .intro h2{
    font-size: 4.875rem;
  }
  .intro a{
    font-size: 2.188rem;
  }

  /* rodutos */
  .produtos{
    grid-template-columns: repeat(4, 1fr);
  }

  /* Footer */
  .footer{
    background: #efefef;
  }
  .footer-content{
    grid-template-columns: 1fr 2fr 1fr;
  }
  .footer-content > div{
    margin-left: 3rem;
  }
  .redes-sociais{
    background: none;
    grid-column: auto;
    margin-right: 2rem;
  }
}


/* Versão tablete */
@media only screen and (min-width: 769px) and (max-width: 959px){
  .produtos{
    grid-template-columns: repeat(3, 1fr);
  }
} 